#button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 4rem;
}

#button button {
    font-size: 1rem;
    font-weight: bold;
    width: 45px;
    padding: .7rem;
    margin: .5rem;
    border: 2px solid grey;
    color: grey;
    border-radius: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
}